/*
Aufgabe: Nr. 0
Name: Lisa Würstle
Matrikel: 254072
Datum: 18.03.2017
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.*/


body {
	margin-left: 2em;
	margin-right: 2em;
	font-family: "Helvetica", sans-serif;
}