/* Allgemeine Informationen */
html {
	font-size: 1em;
	line-height: 1.7em;
	background-color: white;
	font-family: 'Amatic SC', sans-serif;
}

/* Layout randabfallend */
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: #000000;
}

li {
	list-style: none;
	color: #000000;
}

.Schreibschrift {
	font-family: 'Cedarville Cursive', sans-serif;
}

/* Logo meiner Seite */
#logo {
	right: 1%;
	top: 0.3%;
	position: fixed;
	float: right;
	height: 50px;
	width: 50px;
	z-index: 200000;
}

#hamburger_menu {
	cursor: pointer;
	padding: 15px;
	position: fixed;
	width: 6.9%;
	float: right;
	z-index: 100000;
	background-color: black;
	width: 99%;
	top: 0;
}

/* Linien des Hamburger Icons */
.linie {
	border-bottom: 4px solid #BC8F8F;
	width: 35px;
	margin-bottom: 6px;
}

.linie:last-child {
	margin-bottom: 0;
}

#normal_menu {
	display: none;
	position: fixed;
	top: 0em;
	margin: 0 auto;
	padding-top: 1%;
	padding-bottom: 1%;
	float: right;
	text-align: left;
	width: 99%;
	height: 6%;
	z-index: 10000;
}

header li {
	margin-left: 2em;
}

header li:first-child  {
	margin-top: 3em;
}

header a {
	color: silver;
	font-size: 1.5em;
	font-weight: 800;
}

#hello {
	background-color: black;
	height: 25.9em;
	color: white;
	top: 0;
}

.Schreibschrift {
	font-size: 3.5em;
	line-height: 0.7em;
	text-align: center;
	top: 3em;
	position: relative;
	color: #BC8F8F;
}

#headline {
	font-size: 2em;
	position: relative;
	text-align: center;
	top: 5em;
}

main {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 auto;
}

#headline1 {
	text-align: center;
	top: 5.5em;
	font-size: 1.7em;
	position: relative;
}

#mySkills {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	top: 9em;
	position: relative;
	border-top: 1px solid #000000;
	padding-top: 1%;
}

#skills {
	text-align: center;
	position: relative;
	top: 6em;
	font-size: 1.5em;
}

section>ul {
	text-align: center;
}

#headline2 {
	text-align: center;
	font-size: 1.7em;
	position: relative;
	top: 8em;
}

.Boxen {
	background-color: white;
	position: relative;
	margin: 1%;
	padding: 1%;
	color: black;
	text-align: center;
	width: 70%;
	height: 35em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 13em;
}

#fotografie {
	display: block;
	position: relative;
	width: 250px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #000000;
	padding-top: 1%;
}

#OnlineShopDesktop {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 250px;
	width: 400px;
}

#Plakat {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 250px;
	height: 350px;
	border: 1px solid #000000;
}

#Typotiere {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 250;
	height: 350px;
}

#Modelle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 200px;
	width: 400px;
}

#cross1 {
	background: #BC8F8F;
	width: 13px;
	height: 40px;
	position: relative;
	transform: rotate(45deg);
	top: 15em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cross1:before {
	background: #BC8F8F;
	content: "";
	width: 40px;
	height: 13px;
	position: absolute;
	top: 13px;
	left: -13px;
}

#cross2 {
	background: #BC8F8F;
	width: 13px;
	height: 40px;
	position: relative;
	transform: rotate(45deg);
	top: 4em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cross2:before {
	background: #BC8F8F;
	content: "";
	width: 40px;
	height: 13px;
	position: absolute;
	top: 13px;
	left: -13px;
}

.Unterschrift {
	color: #BC8F8F;
	font-size: 1.3em;
}

.Bildbeschreibung {
	line-height: 1.4em;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.8em;
	border-left: 1px solid #000000;
	padding-left: 1%;
}

#headline3 {
	text-align: center;
	font-size: 1.7em;
	position: relative;
	top: 4em;
}

#Lisa {
	width: 275px;
	height: 200px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 7em;
	border-top: 1px solid #000000;
	padding-top: 1%;
}

footer>p {
	text-align: center;
	position: relative;
	top: 0.5em;
}

#LisaWuerstle {
	display: block;
	margin: 0 auto;
	font-size: 1.3em;
	font-weight: 500;
	top: 7em;
	width: 50%;
	text-align: center;
}

#strong {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	font-weight: 700;
	top: 7em;
	width: 50%;
	text-align: center;
}

#HFU {
	right: 2%;
	bottom: 2%;
	top: 5em;
	position: relative;
	float: right;
	height: 100px;
	width: 150px;
}